<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magic Formula</title>
    <link rel="icon" href="/public/images/th.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/src/styles/styles.css"> <!-- Link to external CSS -->
</head>
<body>

<!-- Load header from header.html -->
<div id="header"></div>

<script>
    fetch("partials/header.html")
        .then(response => response.text())
        .then(data => {
            document.getElementById("header").innerHTML = data;
        });
</script>

<div class="content-container">
    <div class="table-container">
        <table>
            <tr>
                <th class="Thead" colspan="3">RankTable</th>
            </tr>
            <tr>
                <td class="header N">Company</td>
                <td class="header N">P/E Ratio</td>
                <td class="header N">ROC</td>
            </tr>
            <tbody id="tableBody">
                <!-- Rows inserted by JavaScript -->
            </tbody>
            <script type="module" src="\src\scripts\Data_Sql.js"></script>
        </table>
    </div>  
    <div class="input-box">
        <h2>Portfolio Suggestion and Insight</h2>
        <form id="investmentForm" onsubmit="handleSubmit(event)">
            <label for="capital">Initial Capital (£)</label>
            <input type="number" id="capital" name="capital" placeholder="Enter your capital" required>

            <label for="age">Age</label>
            <input type="number" id="age" name="age" placeholder="Enter your age">

            <label for="riskTolerance">Risk Tolerance (1-10)</label>
            <input type="number" id="riskTolerance" name="riskTolerance" min="1" max="10" placeholder="1-10">
 
            
            <label for="contribution">Yearly Contribution (£)</label>
            <input type="number" id="contribution" name="contribution" placeholder="Enter your contribution" required>

            <label for="benchmark">Benchmark</label>
            <select id="benchmark" name="benchmark">
                <option value="sp500">S&P 500</option>
                <option value="gold">Gold</option>
                <option value="magicFormula">Magic Formula (5 years)</option>
            </select>

            <button id="submit-button" type="submit">Submit</button>
        </form>
        <div id="results"></div>
    </div>
    <script src="..\scripts\script.js"></script> <!-- Optional JS for form handling -->
    </div>
</div>


</body>
</html>